In [1]:
import numpy as np
import pandas as pd
import random

import sys
sys.path.append('../')

from util import *

## Defines steps (directions) for random walk as matrices $X$, $Y$, $Z$
$$
\begin{align}
X &= \begin{bmatrix}0 & -1 \\ 1 & 0\end{bmatrix} \\
Y &= \begin{bmatrix}1 & 1 \\ 0 & 1\end{bmatrix} \\
Z &= \begin{bmatrix}1 & -1 \\ 0 & 1\end{bmatrix}
\end{align}
$$

In [13]:
# NOTE: TO CHANGE GROUP/SUBGROUP GENERATED, MODIFY THESE GENERATORS AND FILE SAVE NAMES
# these matrices generate SL3_Z, according to this: https://www-users.cse.umn.edu/~garrett/m/mfms/notes_2013-14/07_fund_dmn.pdf

# x is rank 4, so we don't need to include its inverse

# x = np.array([[0, -1], [1, 0]])
# y = np.array([[1, 1], [0, 1]])
# z = np.array([[1, -1], [0, 1]])

# generators = (x,y,z)

generators = k_sl2z_3s_gen
out_fp = './Data_files/points/sl2_Z_3s.csv'

identity = np.eye(2)

In [14]:
cols = {
    'val1': [],
    'val2': [],
    'val3': [],
    'val4': [],
}

data = pd.DataFrame(cols)

## Random walk through subset of ${\rm SL}_2(\mathbb{Z})$ to generate matrices in group

In [15]:
random.seed(42)
np.random.seed(42)

k_data_count = 100_000
k_min_walk = 10
k_walk_variance = 10

last_move = -1

for _ in range(k_data_count):

    first_pos = np.random.randint(0, 3, size=1)[0]
    start_matrix = generators[first_pos]

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, k_walk_variance) + k_min_walk

    a = np.random.randint(0, len(generators), size=cur_size)
    for i in a: 
        cur_matrix = cur_matrix @ generators[i]

    df2 = pd.DataFrame([matrix_to_tuple(cur_matrix)],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [16]:
data

       val1    val2     val3     val4
0   -2762.0 -8775.0    819.0   2602.0
0     109.0    33.0    360.0    109.0
0   62767.0  7227.0 -11169.0  -1286.0
0    -233.0    69.0     27.0     -8.0
0     325.0  -918.0   1032.0  -2915.0
..      ...     ...      ...      ...
0  -19691.0  5973.0 -65307.0  19810.0
0      19.0    -3.0     -6.0      1.0
0     -89.0   300.0    -27.0     91.0
0     145.0   489.0     51.0    172.0
0    6211.0 -2013.0   -975.0    316.0

[100000 rows x 4 columns]

In [17]:
data.to_csv(out_fp, index=False)