In [17]:
import numpy as np
import pandas as pd
import random

In [18]:
A = np.array([[1, 2], [0, 1]])
B = np.array([[1, 0], [2, 1]])

# elements on the diagonal are 1 mod 4. 
# elements not on the diagonal are 0 mod 2. 

# C is the inverse of A
# D is the inverse of B
C = np.linalg.inv(A)
D = np.linalg.inv(B)

identity = np.array([[1, 0], [0, 1]])

In [19]:
cols = {
    'val1': [],
    'val2': [],
    'val3' : [],
    'val4': [],
}

data = pd.DataFrame(cols)

In [20]:
random.seed(42)
np.random.seed(42)

for _ in range(10000):

    first_pos = np.random.randint(0, 4, size=1)[0]

    if first_pos==0:
        start_matrix = A
    elif first_pos==1:
        start_matrix=B
    elif first_pos==2:
        start_matrix=C
    elif first_pos==3:
        start_matrix=D
    else: 
        assert 1==2

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 30) + 2

    a = np.random.randint(0, 4, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ A
        elif i==1:
            cur_matrix = cur_matrix @ B
        elif i==2:
            cur_matrix = cur_matrix @ C
        elif i==3:
            cur_matrix = cur_matrix @ D
        else: 
            assert 1==2

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [21]:
data

        val1     val2     val3     val4
0       49.0   -226.0     18.0    -83.0
0      961.0   3388.0  -3138.0 -11063.0
0     2209.0   1438.0  -3802.0  -2475.0
0       17.0      4.0    140.0     33.0
0        1.0     -2.0      0.0      1.0
..       ...      ...      ...      ...
0        1.0      0.0      8.0      1.0
0     1509.0  -4120.0   3652.0  -9971.0
0     9033.0  16024.0  -4198.0  -7447.0
0      -35.0    -48.0     -8.0    -11.0
0   104501.0  43952.0 -22604.0  -9507.0

[10000 rows x 4 columns]

In [22]:
data.to_csv('./Data_files/subset_sl2_Z.csv', index=False)

In [23]:
cols = {
    'val1': [],
    'val2': [],
    'val3' : [],
    'val4': [],
}

data = pd.DataFrame(cols)

random.seed(59)
np.random.seed(59)

for _ in range(10000):

    first_pos = np.random.randint(0, 4, size=1)[0]

    if first_pos==0:
        start_matrix = A
    elif first_pos==1:
        start_matrix=B
    elif first_pos==2:
        start_matrix=C
    elif first_pos==3:
        start_matrix=D
    else:
        assert 1==2

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 30) + 10

    a = np.random.randint(0, 4, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ A
        elif i==1:
            cur_matrix = cur_matrix @ B
        elif i==2:
            cur_matrix = cur_matrix @ C
        elif i==3:
            cur_matrix = cur_matrix @ D
        else:
            assert 1==2

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [25]:
data.to_csv('./Data_files/subset_sl2_Z_test.csv', index=False)