In [9]:
import numpy as np
import pandas as pd
import random

In [10]:
A = np.array([[1, 2], [0, 1]])
B = np.array([[1, 0], [2, 1]])

# elements on the diagonal are 1 mod 4. 
# elements not on the diagonal are 0 mod 2. 

# C is the inverse of A
# D is the inverse of B
C = np.linalg.inv(A)
D = np.linalg.inv(B)

identity = np.array([[1, 0], [0, 1]])

In [11]:
cols = {
    'val1': [],
    'val2': [],
    'val3' : [],
    'val4': [],
}

data = pd.DataFrame(cols)

In [12]:
random.seed(42)
np.random.seed(42)

for _ in range(10000):

    first_pos = np.random.randint(0, 4, size=1)[0]

    if first_pos==0:
        start_matrix = A
    elif first_pos==1:
        start_matrix=B
    elif first_pos==2:
        start_matrix=C
    elif first_pos==3:
        start_matrix=D
    else: 
        assert 1==2

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 30) + 10

    a = np.random.randint(0, 3, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ A
        elif i==1:
            cur_matrix = cur_matrix @ B
        elif i==2:
            cur_matrix = cur_matrix @ C
        elif i==3:
            cur_matrix = cur_matrix @ D
        else: 
            assert 1==2

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [13]:
data

          val1       val2        val3       val4
0         29.0      -46.0        12.0      -19.0
0    -237087.0   -54242.0     69362.0    15869.0
0     -44123.0    -6826.0    -10672.0    -1651.0
0       3901.0    -6850.0      1594.0    -2799.0
0       1921.0     1102.0      4290.0     2461.0
..         ...        ...         ...        ...
0      35293.0     9250.0    -90972.0   -23843.0
0        137.0      332.0      -300.0     -727.0
0       -271.0    -3858.0     -2638.0   -37555.0
0   15588233.0  1257898.0  21988242.0  1774349.0
0      15257.0     3596.0    -10416.0    -2455.0

[10000 rows x 4 columns]

In [14]:
data.to_csv('./Data_files/subset_sl2_Z.csv', index=False)

In [15]:
cols = {
    'val1': [],
    'val2': [],
    'val3' : [],
    'val4': [],
}

data = pd.DataFrame(cols)

random.seed(59)
np.random.seed(59)

for _ in range(10000):

    first_pos = np.random.randint(0, 3, size=1)[0]

    if first_pos==0:
        start_matrix = A
    elif first_pos==1:
        start_matrix=B
    elif first_pos==2:
        start_matrix=C
    elif first_pos==3:
        start_matrix=D
    else:
        assert 1==2

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 30) + 10

    a = np.random.randint(0, 3, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ A
        elif i==1:
            cur_matrix = cur_matrix @ B
        elif i==2:
            cur_matrix = cur_matrix @ C
        elif i==3:
            cur_matrix = cur_matrix @ D
        else:
            assert 1==2

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [16]:
data.to_csv('./Data_files/subset_sl2_Z_test.csv', index=False)