In [24]:
import numpy as np
import pandas as pd
import random

## Defines steps (directions) for random walk as matrices $X$, $Y$, $Z$
$$
\begin{align}
X &= \begin{bmatrix}0 & -1 \\ 1 & 0\end{bmatrix} \\
Y &= \begin{bmatrix}1 & 1 \\ 0 & 1\end{bmatrix} \\
Z &= \begin{bmatrix}1 & -1 \\ 0 & 1\end{bmatrix}
\end{align}
$$

In [25]:
# these matrices generate SL3_Z, according to this: https://www-users.cse.umn.edu/~garrett/m/mfms/notes_2013-14/07_fund_dmn.pdf

# x is rank 4, so we don't need to include its inverse
x = np.array([[0, -1], [1, 0]])
y = np.array([[1, 1], [0, 1]])
z = np.array([[1, -1], [0, 1]])

identity = np.array([[1, 0], [0, 1]])

In [26]:
x @ y @ y @ y

array([[ 0, -1],
       [ 1,  3]])

In [27]:
np.linalg.inv(y)

array([[ 1., -1.],
       [ 0.,  1.]])

In [28]:
print((y @ y == identity).all())
print((y @ x == identity).all())
print((y @ y @ y == identity).all())
print((y @ y @ x == identity).all())
print((y @ x @ y == identity).all())
print((y @ x @ x == identity).all())
print((y @ y @ y @ y == identity).all())
print((y @ y @ y @ x == identity).all())
print((y @ y @ x @ y == identity).all())
print((y @ y @ x @ x == identity).all())
print((y @ x @ y @ y == identity).all())
print((y @ x @ y @ x == identity).all())
print((y @ x @ x @ y == identity).all())
print((y @ x @ x @ x == identity).all())


print((x @ y == identity).all())
print((x @ x == identity).all())
print((x @ y @ y == identity).all())
print((x @ y @ x == identity).all())
print((x @ x @ y == identity).all())
print((x @ x @ x == identity).all())
print((x @ y @ y @ y == identity).all())
print((x @ y @ y @ x == identity).all())
print((x @ y @ x @ y == identity).all())
print((x @ y @ x @ x == identity).all())
print((x @ x @ y @ y == identity).all())
print((x @ x @ y @ x == identity).all())
print((x @ x @ x @ y == identity).all())
print((x @ x @ x @ x == identity).all())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True

In [29]:
cols = {
    'val1': [],
    'val2': [],
    'val3': [],
    'val4': [],
}

data = pd.DataFrame(cols)

## Random walk through ${\rm SL}_2(\mathbb{Z})$ to generate matrices in group

In [30]:
random.seed(42)
np.random.seed(42)

for _ in range(10000):

    first_pos = np.random.randint(0, 3, size=1)[0]

    if first_pos==0:
        start_matrix = x
    elif first_pos==1:
        start_matrix=y
    elif first_pos==2:
        start_matrix=z

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 10) + 30

    a = np.random.randint(0, 3, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ x
        elif i==1:
            cur_matrix = cur_matrix @ y
        elif i==2:
            cur_matrix = cur_matrix @ z

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [31]:
data

    val1   val2  val3  val4
0  -69.0 -398.0 -13.0 -75.0
0    2.0    5.0  -7.0 -17.0
0   13.0  -18.0  -5.0   7.0
0    0.0    1.0  -1.0  -4.0
0   47.0   10.0  14.0   3.0
..   ...    ...   ...   ...
0    3.0    8.0   4.0  11.0
0   -2.0    5.0  -3.0   7.0
0   -1.0    3.0   3.0 -10.0
0    1.0    9.0  -4.0 -35.0
0   -1.0    2.0   0.0  -1.0

[10000 rows x 4 columns]

In [32]:
data.to_csv('./Data_files/sl2_Z.csv', index=False)

In [33]:
cols = {
    'val1': [],
    'val2': [],
    'val3' : [],
    'val4': [],
}

data = pd.DataFrame(cols)

random.seed(59)
np.random.seed(59)

for _ in range(10000):

    first_pos = np.random.randint(0, 3, size=1)[0]

    if first_pos==0:
        start_matrix = x
    elif first_pos==1:
        start_matrix=y
    elif first_pos==2:
        start_matrix=z

    cur_matrix = start_matrix

    cur_size = np.random.randint(0, 10) + 30

    a = np.random.randint(0, 3, size=cur_size)
    for i in a: 
        if i==0:
            cur_matrix = cur_matrix @ x
        elif i==1:
            cur_matrix = cur_matrix @ y
        elif i==2:
            cur_matrix = cur_matrix @ z

    df2 = pd.DataFrame([[
            cur_matrix[0][0], 
            cur_matrix[0][1], 
            cur_matrix[1][0], 
            cur_matrix[1][1], 
            ]],
            columns=['val1', 'val2', 'val3', 'val4'])
    data = pd.concat([df2, data])

In [34]:
data.to_csv('./Data_files/sl2_Z_test.csv', index=False)